services:
  postgres:
    image: postgres:15
    restart: always
    env_file:
      - ${PG_ENV_FILE:-.env.db.example}
    ports:
      - "${PG_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
